/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-color: #fff1f7;
  --accent-color: #ff8dcb;
  --accent-text-color: #353430;
  --text-color: #353430;
  --title-color: #ffc2e6;
  --subtitle-color: #353430;
  --bg-image: url(../images/cover-image-light.png);
}

.theme-light .header__decoration {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --accent-color: #ff8dcb;
    --accent-text-color: #353430;
    --text-color: #353430;
    --title-color: #ffc2e6;
    --subtitle-color: #353430;
    --bg-image: url(../images/cover-image-light.png);
  }

  .theme-auto .header__decoration {
    display: none;
  }
}
